<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tweetazure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a9d4ad07-6232-4ad5-ae34-b8a74ea3bbe2/resourcegroups/dotnetruapp/providers/Microsoft.Web/sites/TweetAzure</ResourceId>
    <UserName>$TweetAzure</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tweetazure.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>